.container {
  min-height: 650px;
  align-items: center;
  width: 50%;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.form-group {
  width: 90%;
  background-color: white;
}

.list {
  border: none;
}

.icons {
  cursor: pointer;
}

.finish {
  text-decoration-line: line-through;
  opacity: 0.9;
}
